<link rel="stylesheet" href="/css/footer.css">
<button id="scrollTop" class="scroll-top" title="Lên đầu trang">↑</button>
<footer>
  <div class="boxed">
    <section>
      <div>
        <a href="/">
          <img src="/public/image/logoweb.svg" alt="img">
        </a>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i> 
        <span> Số 1 Đại Cồ Việt, phường Bạch Mai, Thành phố Hà Nội </span>
      </div>
      <div>
        <i class="fa-solid fa-phone"></i>
        <span>0977.071.529</span>
      </div>
    </section>
    <section>
        <h1>BẠN QUAN TÂM</h1>
        <ul>
          <li> <a href="/"> <div>Thông tin giới thiệu</div> </a> </li>
          <li> <a href="/"> <div>Thông tin liên hệ</div> </a></li>
          <li> <a href="/"> <div>Gửi form phản hồi</div> </a></li>
        </ul>
    </section>
    <section>
        <h1>LIÊN HỆ</h1>
        <ul>
          <li> <a href="https://www.facebook.com/aph2u2" target="_blank"> <i class="fa-brands fa-facebook"></i></a> </li>
          <li> <a href="https://www.instagram.com/aph2u2?fbclid=IwY2xjawRxhjFleHRuA2FlbQIxMABicmlkETFuZDgzWDYwRmUzVktwekNKc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHlflq5lcA_8vr5LNWd82leIJjNvw_m-1_ont4MidaCkA2c1I5th-jxCAB2Tr_aem_YivtEdyxEXkmEafZ0nOa1w" target="_blank"> <i class="fa-brands fa-instagram"></i></a> </li>
          <li> <a href="https://www.threads.com/@aph2u2" target="_blank"> <i class="fa-brands fa-threads"></i></a> </li>
          <li> <a href="https://soundcloud.com/th-ng-752959783?ref=clipboard&p=a&c=1&si=153d1e7f730746a5bf9723f413439261&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank"> <i class="fa-brands fa-soundcloud"></i></a> </li>
        </ul>
    </section>
  </div>
  <div class="line">
  </div>
  <div class="copyright"> © Bản quyền thuộc Nhóm 6 </div>
</footer>
<script src="/public/js/scroll.js"></script>