<link rel="stylesheet" href="/1_style/footer.css">
<footer>
  <div>
    <section>
      <div>
        <a href="/">
          <img src="/2_image/logoweb.svg" alt="img">
          <span> Nhóm 6 </span>
        </a>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i> 
        <span> Số 1 Đại Cồ Việt, phường Bạch Mai, Thành phố Hà Nội </span>
      </div>
      <div>
        <i class="fa-solid fa-phone"></i>
        <span>0977.071.529</span>
      </div>
    </section>
    <section>
        <h1>LIÊN HỆ</h1>
        <div>
          
        </div>
    </section>
    <section></section>
  </div>
  <div></div>
  <div></div>
</footer>