<header> 
  <div style="height: 100%;">
    <div style="height: inherit; padding-top: 27px;"><a href="/"> TRANG CHỦ </a></div>
    <div style="height: inherit; padding-top: 27px;"><a href="/course"> KHÓA HỌC </a></div>
    <div style="height: inherit; padding-top: 27px;"><a href="/document"> TÀI LIỆU </a></div>
    <div style="height: inherit; padding-top: 27px;"><a href="/contact"> THÔNG TIN LIÊN HỆ </a></div>
    <div style="height: inherit; padding-top: 27px;"><a href="/signup"> ĐĂNG NHẬP/ĐĂNG KÝ </a></div>
  </div>
</header>