<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Liên hệ </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header'); %>
  
  <main>
    <div>
      <div> <h1> Thông tin </h1> </div>
      <div>
        <h2> Địa chỉ </h2>
        <span> 
          Đại học Bách khoa Hà Nội<br>
          Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội
        </span>
      </div>
      <div>
        <h2> Email </h2>
        <span> 
          phu.hmg123456789@sis.hust.edu.vn<br>
          giang.vtq123456789@sis.hust.edu.vn<br>
          thang.nc123456789@sis.hust.edu.vn<br>
          quang.tt123456789@sis.hust.edu.vn
        </span>
      </div>
      <div>
        <h2> Số điện thoại </h2>
        <span> 
          0987654321<br>
          0987654321<br>
          0987654321<br>
          0987654321<br>
        </span>
      </div>
    </div>
  </main>

  <%- include('partials/footer'); %>
</body>
</html>