<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Trang chủ </title>
  <link rel="stylesheet" href="/1_style/style.css">
</head>
<body>
  <%- include('./0_header'); %>
  
  <main>
    <div class="hp">
      <div class="part1"> 
        <img src="/2_image/thang.jpg">
      </div>
      <div class="part2"> 
        <h1 style="width: 500px; color: white;"> CHÀO MỪNG BẠN ĐẾN VỚI... </h1>
      </div>
    </div> 
  </main>

  <%- include('./0_footer'); %>
</body>
</html>