<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Đăng nhập </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <style>
    p{
      font-weight: bold;
    }
    input{
      width: 300px;
    }
  </style>
</head>
<body>
    <%- include('./0_header'); %>
  
  <main>
    <div>
      <p> Email </p>
      <input type="email" placeholder="Nhập email của bạn">
      <p> Mật khẩu </p>
      <input type="text" placeholder="Nhập mật khẩu">
    </div>
  </main>

  
</body>
</html>