header{
  position: fixed;
  background-color: #7894EA;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  align-items: center;
  height: 5%;
}
header >div >div{
  box-sizing: border-box;
  transition: all 0.5s;
}

header >div {
  position: absolute;
  display: flex;
  top: 0;
  flex-direction: row;
  align-items: center;
  right: 4rem;
}

header >div >div >a {
  color: white;
  margin-right: 2rem;
}

header >div >div:hover{
  background-color: white;
  cursor: pointer;
}

header >div >div:hover >a{
  color:#7894EA;
}